[core]
    editor = vim
    pager = less -r

[include]
   path = ~/.gitconfigprivate

[color]
    branch = auto
    diff = auto
    status = auto
    interactive = auto
    ui = true
    pager = true

[alias] 
	st = status -s
	cm = commit 
	br = branch
	co = checkout
	df = diff --color=always
	lg = log -p --color
	glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    slog = shortlog --no-merges
    rlog = log --pretty=format:'%an - %ad: %s' --no-merges
[pull]
	rebase = true
